.app-logo {
  pointer-events: none;
  border: 1px solid #ffffff;
}

.app-header {
  background-color: #fe6610;
  padding: 10px;
}

.app-header div {
  display: flex;
  font-size: 14px;
}

.app-header span.sort {
  cursor: pointer;
}

.app-header span.active {
  color: #ffffff;
  pointer-events: none;
}
