.app {
  text-align: left;
}

.app-logo {
  pointer-events: none;
  border: 1px solid #ffffff;
}

.app-header {
  background-color: #fe6610;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 40px;
  padding-left: 2%;
}

.app-footer {
  /* position: fixed; */
  /* bottom: 0; */
  /* height: 40px; */
  text-align: center;
}
